{% extends "include/base.html" %}
{% load static %}
{% block main_area %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.9.1/chart.min.js" integrity="sha512-ElRFoEQdI5Ht6kZvyzXhYG9NqjtkmlkfYk0wr6wHxU9JEHakS7UJZNeml5ALk+8IKlU6jDgMabC3vkumRokgJA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
레이도형검사 전체 평균
    <body>
        <div class="chart-div">
            <canvas id="pieChartCanvas" width="300px" height="300px"></canvas>
            <canvas id="myChart" width="300px" height="300px"></canvas>
        </div>
        {% for i in scores %}
            {{i.0}}
        {% endfor %}
        
   
    
    </body>


<script>
    window.onload = function () {
        pieChartDraw();
    }
    
    let pieChartData = {
        labels: ['foo','aa'],
        datasets: [{
            data: [100-{{avg}},{{avg}}],
            backgroundColor: ['rgb(255, 99, 132)']
        }] 
    };

    

    let pieChartDraw = function () {
        let ctx = document.getElementById('pieChartCanvas').getContext('2d');
        window.pieChart = new Chart(ctx, {
            type: 'pie',
            data: pieChartData,
            options: {
                responsive: false
            }
        });
    };  
</script>


<script>
const ctx = document.getElementById('myChart').getContext('2d');
const myChart = new Chart(ctx, {
    type: 'doughnut',
    data: {
        labels: ['Red', 'Blue', 'Yellow', 'Green', 'Purple', 'Orange'],
        datasets: [{
            label: '# of Votes',
            data: [12, 19, 3, 5, 2, 3],
            backgroundColor: [
                'rgba(255, 99, 132, 0.2)',
                'rgba(54, 162, 235, 0.2)',
                'rgba(255, 206, 86, 0.2)',
                'rgba(75, 192, 192, 0.2)',
                'rgba(153, 102, 255, 0.2)',
                'rgba(255, 159, 64, 0.2)'
            ],
            borderColor: [
                'rgba(255, 99, 132, 1)',
                'rgba(54, 162, 235, 1)',
                'rgba(255, 206, 86, 1)',
                'rgba(75, 192, 192, 1)',
                'rgba(153, 102, 255, 1)',
                'rgba(255, 159, 64, 1)'
            ],
            borderWidth: 1
        }]
    },
    options: {
        scales: {
            y: {
                beginAtZero: true
            }
        }
    }
});
</script>


{% endblock main_area %}