{% extends "include/base.html" %}
{% load static %}
{% block main_area %}

<div class="main-panel">
    <!-- <h1>여기에 넣으면 깨지고</h1> -->
<!-- ======================================== -->
  
    <!-- 여기가 회색바탕에 들어가는 메인페이지임 -->
    <div class="content-wrapper">
      <div id="pi">
      <p class="pp">
        글로벌 No.1 치매예측기술 선도기업

      </p>
    </div>
      <div id="sbsb">
        
        <center>
          <br><br>
          <h1>(주)뉴로젠</h1> <br>
      <img id="imgsb" src="{% static 'assets/images/뉴로젠4.png' %}" />
      <br> <br> <br>
      <img id="imgsb" src="{% static 'assets/images/뉴로젠3.png' %}"/>
      <br> <br> <br>
      <img id="imgsb" src="{% static 'assets/images/뉴로젠2.png' %}"/>
      <br> <br> <br>
      <img id="imgsb" src="{% static 'assets/images/뉴로젠.png' %}"/>
    </center>
      </div>
   

      
    </div> 

{% endblock main_area %}
