<!DOCTYPE html>
<html lnag="ko">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <title>기억할레이</title>
    <link rel="stylesheet" href="{% static 'css/rg.css' %}">
	<script src="{% static 'js/login.js' %}"></script>
    <link rel="stylesheet" href="{% static 'assets/images/reyhlg22.png' %}" />
</head>
<body>
    {% csrf_token %}
    <div class="main-signup">
        <!--웹페이지 상단-->
        <header>
            <!--LOGO-->
            <div class="logo">
                <a href="/" target="_blank" title="네이버 홈페이지"><img src="{% static 'assets/images/reylogo.png' %}"
                        class="image"></a>
            </div>
        </header>
        
        <!--회원가입수정 부분-->
        {% if message %}
            <script>
                alert({{message}})
            </script>
        {% endif %}
        <section class="signup-wrap">
            <form name="f1" method="post">
            <div>
                {% for info in user%}
                <!--아이디,비번,비번재확인-->
                <h3>아이디</h3>
                <span class="signup-input">
                    <input id="signup-id" type="text" name="mem_id" value="{{info.mem_id}}" readonly></input>
                    <span class="signup-at"></span>
                </span>
                <h3>비밀번호</h3>
                <span class="signup-input">
                    <input id="signup-pw" type="password" name="mem_pw"></input>
                    <span class="pw-lock"></span>
                </span>
                <h3>비밀번호 재확인</h3>
                <span class="signup-input">
                    <input id="signup-pww" type="password" name="mem_pw2"></input>
                    <span class="pww-lock"></span>
                </span>
            </div>
            <div style="margin-top: 35px;">
                <!--이름,생년월일,성별,이메일-->
                <h3>이름</h3>
                <span class="signup-input">
                    <input id="signup-name" type="text" name="mem_name" value="{{info.mem_name}}"></input>
                </span>
               
                {% endfor %}    
            </div>

        </form>

            <br>
            <div>
                <!--가입하기-->
                <div class="signup-btn-wrap">
                    <button id="signup-btn" type="button" onclick="memReg()">변경하기</button>
                </div>
            </div>
            
        </section>
        <script>


            function memReg() {
                var form = document.f1;
                if (form.mem_id.value=="") {
                    alert("아이디를 입력해 주십시오.");
                    form.mem_id.focus();
                    return;
                }
                if (form.mem_pw.value=="") {
                    alert("비밀번호를 입력해 주십시오.");
                    form.mem_pw.focus();
                    return;
                }
                if (form.mem_name.value=="") {
                    alert("이름을 입력해 주십시오.");
                    form.mem_name.focus();
                    return;
                }
                form.action = "/change";
                form.submit();
            }
            </script>
            {% if message %}
            <script>alert('{{ message }}');</script>
            {% endif %}

    </div>

</body>

</html>