<!DOCTYPE html>
<html lnag="ko">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <title>기억할레이</title>
    <link rel="stylesheet" href="{% static 'css/rg.css' %}">
	<script src="{% static 'js/login.js' %}"></script>
    <link rel="stylesheet" href="{% static 'assets/images/reyhlg22.png' %}" />
</head>
<body>
    {% csrf_token %}
    <div class="main-signup">
        <!--웹페이지 상단-->
        <header>
            <!--LOGO-->
            <div class="logo">
                <a href="/" target="_blank" title="네이버 홈페이지"><img src="{% static 'assets/images/reylogo.png' %}"
                        class="image"></a>
            </div>
        </header>
        <!--회원가입 부분-->
        <section class="signup-wrap">
            <form name="f1" method="post">
            <div>
                <!--아이디,비번,비번재확인-->
                <h3>아이디</h3>
                <span class="signup-input">
                    <input id="signup-id" type="text" name="mem_id"></input>
                    <span class="signup-at"></span>
                </span>
                <h3>비밀번호</h3>
                <span class="signup-input">
                    <input id="signup-pw" type="password" name="mem_pw"></input>
                    <span class="pw-lock"></span>
                </span>
                
            </div>
            <div style="margin-top: 35px;">
                <!--이름,생년월일,성별,이메일-->
                <h3>이름</h3>
                <span class="signup-input">
                    <input id="signup-name" type="text" name="mem_name"></input>
                </span>
                <h3>생년월일</h3>
                <span style="display: flex;">
                    <span class="signup-input-birth">
                        <input id="signup-birth-yy" type="text" placeholder="년(4자)" name="mem_birth_y"></input>
                    </span>
                    <span class="signup-input-birth" style="margin-left: 10px;">
                        <select id="signup-birth-mm" class="selectbox" name="mem_birth_m" onchange="">
                            <option value="month">월</option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                            <option value="6">6</option>
                            <option value="7">7</option>
                            <option value="8">8</option>
                            <option value="9">9</option>
                            <option value="10">10</option>
                            <option value="11">11</option>
                            <option value="12">12</option>
                        </select>
                    </span>
                    <span class="signup-input-birth" style="margin-left: 10px;">
                        <input id="signup-birth-dd" type="text" placeholder="일" name="mem_birth_d"></input>
                    </span>
                </span>

                <h3>성별</h3>
                <span class="signup-input">
                    <select id="signup-gender" class="selectbox" name="mem_gender" onchange="">
                        <option value="m">남자</option>
                        <option value="w">여자</option>
                        <!-- <option value="no">선택 안함</option> -->
                    </select>
                </span>



                <h3>회원유형</h3>
                <span class="signup-input">
                    <select id="signup-gender" class="selectbox" name="mem_type" onchange="">
                        <option value="i">개인</option>
                        <option value="c">기관</option>
                        <!-- <option value="no">선택 안함</option> -->
                    </select>
                </span>


            </div>

           
        </form>

            <br>
            <div>
                <!--가입하기-->
                <div class="signup-btn-wrap">
                    <button id="signup-btn" type="button" onclick="memReg()">변경하기</button>
                </div>
            </div>
            
        </section>
        <script>


            function memReg() {
                var form = document.f1;
                if (form.mem_id.value=="") {
                    alert("아이디를 입력해 주십시오.");
                    form.mem_id.focus();
                    return;
                }
                if (form.mem_pw.value=="") {
                    alert("비밀번호를 입력해 주십시오.");
                    form.mem_pw.focus();
                    return;
                }
                if (form.mem_name.value=="") {
                    alert("이름을 입력해 주십시오.");
                    form.mem_name.focus();
                    return;
                }
                form.action = "/member/register/";
                form.submit();
            }
            </script>
            {% if message %}
            <script>alert('{{ message }}');</script>
            {% endif %}

    </div>

</body>

</html>