<!DOCTYPE html>
<html lnag="ko">

<head>
	{% load static %}
	<meta charset="UTF-8">
	<title>기억할레이</title>
	<link rel="stylesheet" href="{% static 'css/rg.css' %}">
	<script src="{% static 'js/login.js' %}"></script>
	<link rel="stylesheet" href="{% static 'assets/images/reyhlg22.png' %}" />

</head>

<body>

	<div class="main">
		<!--웹페이지 상단-->
		<header>
			
			<div class="logo" style="margin-bottom: 40px;">
				<a href="/" target="_blank" title="메인 페이지"><img src="{% static 'assets/images/reylogo.png' %}"
						class="image"></a>
			</div>
		</header>

		<!--로그인 부분-->
		<section class="login-wrap">

		<form method="post" name="flogin">
			{% csrf_token %}
			<div class="login-id-wrap">
				<input id="input-id" placeholder="아이디" type="text" name="mem_id"></input>
			</div>
			<div class="login-pw-wrap">
				<input id="input-pw" placeholder="비밀번호" type="password" name="mem_pw"></input>
			</div>

			<br>
			<div class="login-btn-wrap">
				<input id="login-btn" type="button" value="로그인" onclick="loginChk()">
			</div>
			
		</form>
		<script>
			function loginChk() {
				var form = document.flogin;
				if (form.mem_id.value=="") {
					alert("회원 아이디를 입력해 주십시오.");
					form.mem_id.focus();
					return;
				}
				if (form.mem_pw.value=="") {
					alert("비밀번호를 입력해 주십시오.");
					form.mem_pw.focus();
					return;
				}
				form.action = "/member/login/";
				form.submit();
			}
			</script>

{% if message %}
<script>alert('{{ message }}');</script>
{% endif %}

	</div>

</body>

</html>