
{% extends "include/base.html" %}
{% load static %}
{% block main_area %}

<center>
          <div id="pi">
          <p class="pp">
            기억할레이

          </p>
        </div>
        

     
          <img id="imgsb" src="{% static 'assets/images/1소개소개.png' %}" />
          <br> <br> <br>
          <img id="imgsb" src="{% static 'assets/images/2장점장점.png' %}" />
          <br> <br> <br>
          <img id="imgsb" src="{% static 'assets/images/3내용내용.png' %}" />
          <br> <br> <br>
          <img id="imgsb" src="{% static 'assets/images/4기술기술.png' %}" />
          <br> <br> <br>
          <img id="imgsb" src="{% static 'assets/images/5결과물.png' %}" />
          <br> <br> <br>
          <img id="imgr" src="{% static 'assets/images/5모바일.png' %}" />
          <img id="imgr" src="{% static 'assets/images/5웹.png' %}" />
          <br> <br> <br>
          <img id="imgsb" src="{% static 'assets/images/6효과효과.png' %}" />
          <br> <br> <br>
        </div>
      </center>
        <!-- 여기가 메인페이지 끝 -->

        {% comment %} <div id="sbsb">
            
          <center>
            <br><br>
            <h1>팀소개</h1> <br>
        <img id="imgsb" src="{% static 'assets/images/팀소개1.png' %}" />
        <br> <br> <br>
        <img id="imgsb22" src="{% static 'assets/images/팀소개2.png' %}" />
      </center>
        </div> {% endcomment %}

 {% endblock main_area %}