
{% extends "include/base.html" %}
{% load static %}
{% block main_area %}

          <div id="pi">
          <p class="pp">
            기억할레이

          </p>
        </div>
          <div id="sbsb">
            
        <center>
              <br><br>
              <h1>기억할레이</h1> <br>
          
          <div class="my_div1" >

           <div class="a11"> <img src="{% static 'assets/images/팀예시사진.png' %}" class="radius_img_2"> <p>팀장: </p></div>
           <div class="a22"> <img src="{% static 'assets/images/팀예시사진.png' %}" class="radius_img_2"> <p>팀원:</p></div>
           <div class="a33"> <img src="{% static 'assets/images/팀예시사진.png' %}" class="radius_img_2"> <p>팀원: </p></div>
           <div class="a44"> <img src="{% static 'assets/images/팀예시사진.png' %}" class="radius_img_2"> <p>팀원:</p></div>
          
          </div>
        </center>
        </div>




 
          <br> <br> <br>
          <h3>[레이프로젝트]</h3>
          <li>여기에 사진이랑 소개 좀 넣고</li>
          <ul type="square">
            <li></li>
          </ul>

          <h3>[팀원 소개]</h3>
          <li>여기에 사진이랑 소개 좀 넣고</li>
          <H3>사용 기술</H3>
          <li>사용기술이랑 정리하고</li> 


          <h3>[프로젝트 진행 주요사항]</h3>
          <li>내용 소개 좀 넣고</li>
          <li>관련 사진 많이 이용하고</li> 
          안드로이드도 관련 진행사항 정리해서 넣고

          보라 주황컬러 사용이유:

          
        </div> 
        <!-- 여기가 메인페이지 끝 -->

 {% endblock main_area %}