{% extends "include/base.html" %}
{% load static %}
{% block main_area %}

          <div id="pi">
          <p class="pp">
            프로젝트 소개

          </p>
        </div>
          <div id="sbsb">
            
            <center>
              <br><br>
              <h1>기억할레이</h1> <br>
          <img id="imgsb" src="{% static 'assets/images/rey.png' %}" />
          <br><br>
          <h4>레이 복합도형검사 데이터 학습을 통한 점수 분석 시스템</h4>
        
          <br> <br> <br>

          <img id="imgsb" src="{% static 'assets/images/프젝소개.png' %}" width="900" height="900" />
          
          <br> <br> <br>
          <img id="imgsb2" src="{% static 'assets/images/testimg1.jpg' %}" width="500" height="380"/>
          <img id="imgsb2" src="{% static 'assets/images/testimg2.jpg' %}" width="500" height="380"/>

          

        </center>
        </div>

{% endblock main_area %}