{% extends "include/base.html" %}
{% load static %}
{% block main_area %}

<div class="row">
    {% for product in products %}
    <div class="col-lg-4">
        <div class= "box">
            {% if 'm_id' in request.session %}
            검사아이디 = {{request.session.m_id}}
            {% endif %}
        <h3>검사번호 : {{product.mem_seq}}</h3>
        <img src="{{product.exam_img.url}}" width="500" height="500">
        <h6 style="display: inline-block; float: right"><strong>검사아이디 : {{product.mem_id}}</strong></h6>
        <h6>검사날짜 : {{product.exam_date}}</h6>
        <a href="product/{{product.pk}}" class="btn btn-success">보기</a>
        <h6 style="display: inline-block; float: right"><strong>검사결과 : {{product.exam_result}}</strong></h6>
        </div>
        <br>
    </div>
    {% endfor %} 
</div>
{% endblock main_area %}

