{% comment %} {% extends 'predict/메인.html'%} {% endcomment %}
{% load static %}
{% block content %}

<div class="row">
    {% for product in products %}
    <div class="col-lg-4">
        <div class= "box">
        {% comment %} <img width=100% src="{{product.imageURL}}"> {% endcomment %}
        <img src="{{product.exam_img.url}}" width="500" height="500">
        {{product.exam_img.name}}
        <h6><strong>{{product.exam_result}}</strong></h6>
        {{product.exam_img.url}}
        
        {% comment %} {{product.description}} {% endcomment %}
        <hr>
        {% comment %} <button data-product={{product.id}} data-action="add" class="btn btn-success 장바구니업데이트">장바구니 담기</button> {% endcomment %}
        <a href="product/{{product.pk}}" class="btn btn-success">보기</a>
        <h4 style="display: inline-block; float: right"><strong>${{product.price|floatformat:2}}</strong></h4>
				
        </div>
       
    </div>
    {% endfor %} 
</div>
{% endblock content %}

