{% extends "include/base.html" %}
{% block main_area %}
    <h1>이미지테스트</h1>

	<form action="" enctype="multipart/form-data" method="POST">
{% csrf_token %}
    <table width="300" border="1" cellpadding="2" cellspacing="0">
    <tbody>
    <tr>
        <td>결과 : </td>
        <td><input type="text" name="exam_result"></td>
    </tr>
    <tr>
        <td>아이디 : </td>
        <td><input type="text" name="mem_id"></td>
    </tr>
    <tr>
        <td>이미지 : </td>
        <td><input type="file" name="exam_img"></td>
    </tr>
    </tbody>
    </table>
    <input class="btn btn-dark" type="submit" value="글쓰기">
</form>
<br>

{% if message %}
<script>alert('{{ message }}');</script>
{% endif %}

{% endblock %}


