{% extends "include/base.html" %}
{% block main_area %}
    <h1>이미지테스트</h1>

	<form action="postcreate" enctype="multipart/form-data" method="POST">
{% csrf_token %}
    <table width="300" border="1" cellpadding="2" cellspacing="0">
    <tbody>
    <tr>
        <td>제목 : </td>
        <td><input type="text" name="title"></td>
    </tr>
    <tr>
        <td>내용 : </td>
        <td><input type="password" name="text"></td>
    </tr>
    <tr>
        <td>이미지 : </td>
        <td><input type="file" name="image"></td>
    </tr>
    </tbody>
    </table>
    <input class="btn btn-dark" type="submit" value="글쓰기">
</form>
<br>

<script>


</script>
{% if message %}
<script>alert('{{ message }}');</script>
{% endif %}
{% endblock %}

