{% extends "include/base.html" %}
{% load static %}
{% block main_area %}


<link rel="stylesheet" href="{% static 'css/imgall.css' %}" />

<!-- 여기 바로 위에 한줄 넣었음 -->

<center>
<div class="card">

  <div class="box">
    <br><br><br>
    <h3>검사번호 : {{ imgsave.mem_seq }}</h3>
    <br><br>
    {% comment %} <img  src="{{ product.imageURL }}"> {% endcomment %}                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                          
    <img src="{{imgsave.exam_img.url}}" class="img-fluid2">
  
          <!-- <aside class="col-sm-7"> -->
      <article class="card-body p-5">
        <h3 class="title mb-3">{{ product.name }}</h3>
        
      </div>
      
      
       <!-- price-detail-wrap .// -->
      <dl class="item-property">
        <h3><dt class="bora">검사소개</dt></h3>
        <br><br>

        검사아이디 : {{imgsave.mem_id}}
        <hr>

        이미지이름 : {{imgsave.exam_img.name}}
        <hr>
      검사결과 : <strong>{{imgsave.exam_result}}</strong>
      <hr>
        
        
        검사날짜 : {{imgsave.exam_date}}
        <dd><p>{{ product.description }} </p></dd>
        
        <hr>
        <br>
        <a href="/predict" class="btn-success22">목록보기</a>
        
      </dl>
    
  <!-- </div>  -->
  <!-- 위에 row, 아래 card -->
</div>
</center>

   <script>
    
   </script>
{% endblock main_area %}