#pi{
    width: 100%;
    margin: 0 auto;
    background-image: url(../assets/images/보라이미지.jpg);
    height: 250px;
    color: #fff;
    background-position: center;
}
.pp{
    padding: 100px 0;
    font-size: 40px;

    display: block;
    text-align: center;
    font-weight: 600;
    line-height: 1.6;

}
p {
    margin: 0 0 15px;
}

   
* {
	font-family: 'BMJUA';
   
}

/* @font-face  {
    font-family: 'BMJUA';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/BMJUA.woff') format('woff');
    font-weight: normal;
    font-style: normal;
} */

#imgsb {
    height: auto;
    max-width: 100%;
    vertical-align: middle;
    border: 0;
    display:inline-block;

}
h1 {
    color: #6C4797;
}
/* #sbsb {
    box-sizing: inherit;
    display: block;
    background-image: url(./뉴로젠소개.png);

} */

.radius_img_2 {    
    width: 300px;
    border-radius: 20%;
    border: 2px solid;
    border-color: #6C4797;
}
 
    
/* div {    width: 300px;    float: left;    border: 1px solid;} */

.my_div1 {
    display: flex;
    justify-content: space-evenly;
	margin: 10px;
}

.a11 .a22 .a33 .a44 {
margin-left: 10px;
}

/* #imgsb2 {
    width: 500px;
    height: 380px;
} */

.btn_fac {
    background-color: #F29200;
    width: 85px;
    height: 45px;
    text-align: center;
    color: #fff;
    border-color: #F29200;
    align-content: center;
    padding: 0.9rem 2rem;
    font-size: 1.1rem;
    border-radius: 55%;
}

.fac_name {
    font-size: 1rem;
}